$color-neutral: #233;
$color-neutral-2: #355;

$color-panel: #5d5d5d;
$color-buttons-panel: #a0a0a0;
$color-display: orange;
$color-text-panel: #ccc;
$color-text-display: #333;

$color-border-default: #a9a9a9;
$color-shadow: #808080;
$color-shadow-2: white;