$unit: 4px;
$size-default: 4 * $unit;
$font-size-default: $size-default;

$padding-control-default: $size-default / 4;
$padding-section-default: $size-default;

$margin-control-default: $size-default / 4;
$margin-section-default: $size-default;

$border-radius-default: $size-default / 4;